<script src="/css/js/vendor/jquery.cycle2.min.js"></script>
<script src="/css/js/vendor/jquery.cycle2.carousel.min.js"></script>
<!-- Element components -->
<script src="/css/js/components/navbar.js"></script>
<script src="/css/js/components/carousel.js"></script>
<script src="/css/js/components/accordion.js"></script>
<script src="/css/js/components/thumbnail-slider.js"></script>
<script src="/css/js/components/thumbnail-scroller.js"></script>
<script src="/css/js/components/list.js"></script>
<script src="/css/js/components/lazy-images.js"></script>
<script src="/css/js/components/custom.js"></script>
<script>
$('link[href="/common/editor/editor-mobile.css"]').remove();
</script>
