<style>
    
.lazy-load {
    transition: opacity 1s;
    opacity: 1;
    position: relative;
    width: 100%;
    z-index: 1;
}
.lazy-load-wrapper {
    overflow: visible;
    position: relative;
    display: block;
    background: #aaa center center no-repeat;
    background-size: cover;
}
.lazy-load-wrapper .lazy-load-large {
    transition: opacity 0.5s;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.lazy-load-wrapper.is-loaded  .lazy-load-large{
    opacity: 1 ;
}
.lazy-load-wrapper.is-loaded .lazy-load {
    opacity: 0 ;
}

.cols {
    -webkit-columns: 20% 4; /* Chrome, Safari, Opera */
    -moz-columns: 20% 4; /* Firefox */
    columns: 20% 4;
}
.sm-3, .sm-6 {
    float: initial;
    width: 24%;
    display: inline-block;
}
.sm-6 {
    width: 49%;
}
#categories {
    display: none;
}
#pagecontent {
    width: 100%;
}
</style>



<div class="cols">
    <div class="sm-12">
        <img class="lazy-load" src="/media/elephant1x1x.jpg"/>
    </div>
    <div class="sm-5">
        <img class="lazy-load" src="/media/elephant2x1x.jpg"/>
    </div>
    <div class="sm-7">
        <img class="lazy-load" src="/media/elephant3x1x.jpg"/>
    </div>
     <div class="sm-6"><h3>Het zou leuk zijn als deze tekst blijft staan waar hij staat als hij ingeladen wordt</h3></div>
   <div class="sm-6">
        <img class="lazy-load" src="/media/elephant4x1x.jpg"/>
    </div>
    <div class="sm-4">
        <img class="lazy-load" src="/media/elephant5x1x.jpg"/>
    </div>
    <div class="sm-4">
        <img class="lazy-load" src="/media/elephant6x1x.jpg"/>
    </div>
    <div class="sm-4">
        <img class="lazy-load" src="/media/elephant7x1x.jpg"/>
    </div>
    <div class="sm-12">
        <img class="lazy-load" src="/media/elephant9x1x.jpg"/>
    </div>
    <div class="sm-6">
        <img class="lazy-load" src="/media/elephant11x1x.jpg"/>
    </div>
    <div class="sm-6">
        <img class="lazy-load" src="/media/elephant12x1x.jpg"/>
    </div>
    <div class="sm-6"><h3>Het zou leuk zijn als deze tekst blijft staan waar hij staat als hij ingeladen wordt</h3></div>
    <div class="sm-3">
        <img class="lazy-load" src="/media/elephant15x1x.jpg"/>
    </div>
    <div class="sm-3">
        <img class="lazy-load" src="/media/elephant16x1x.jpg"/>
    </div>
    <div class="sm-4">
        <img class="lazy-load" src="/media/elephant18x1x.jpg"/>
    </div>
    <div class="sm-8">
        <img class="lazy-load" src="/media/elephant19x1x.jpg"/>
    </div>
    <div class="sm-1">
        <img class="lazy-load" src="/media/elephant20x1x.jpg"/>
    </div>
    <div class="sm-11">
        <img class="lazy-load" src="/media/elephant21x1x.jpg"/>
    </div>
    <div class="sm-1">
        <img class="lazy-load" src="/media/kitten01x1x.jpg"/>
    </div>
    <div class="sm-1">
        <img class="lazy-load" src="/media/kitten02x1x.jpg"/>
    </div>
    <div class="sm-1">
        <img class="lazy-load" src="/media/kitten03x1x.jpg"/>
    </div>
    <div class="sm-1">
        <img class="lazy-load" src="/media/kitten04x1x.jpg"/>
    </div>
    <div class="sm-4">
        <img class="lazy-load" src="/media/kitten05x1x.jpg"/>
    </div>
    <div class="sm-4">
        <img class="lazy-load" src="/media/kitten06x1x.jpg"/>
    </div>
    <div class="sm-3">
        <img class="lazy-load" src="/media/kitten07x1x.jpg"/>
    </div>
    <div class="sm-3">
        <img class="lazy-load" src="/media/kitten08x1x.jpg"/>
    </div>
    <div class="sm-3">
        <img class="lazy-load" src="/media/kitten09x1x.jpg"/>
    </div>
    <div class="sm-3">
        <img class="lazy-load" src="/media/kitten10x1x.jpg"/>
    </div>
    <div class="sm-6"><h3>Het zou leuk zijn als deze tekst blijft staan waar hij staat als hij ingeladen wordt</h3></div>


</div>
